@font-face {
  font-family: 'bangers';
  src: url("/assets/fonts/Bangers-Regular.woff2") format("woff2"), url("/assets/fonts/Bangers-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.connexion-panel {
  box-shadow: 0px 2px 2px #9e9e9e;
  background-image: url("/assets/img/photo-bg.jpg");
  background-size: cover; }
  .connexion-panel .row {
    margin-bottom: 0;
    padding: 0; }
  .connexion-panel .col {
    padding: 0; }
  .connexion-panel .titleContainer {
    position: absolute;
    top: 150px;
    padding: 0; }
    .connexion-panel .titleContainer .title {
      font-size: 2.5em;
      font-family: 'bangers'; }
  .connexion-panel .buttonContainer {
    margin-top: 350px;
    margin-bottom: 150px;
    text-align: center;
    transform: skewX(-25deg); }
    .connexion-panel .buttonContainer .btn-large {
      line-height: 20px; }
    .connexion-panel .buttonContainer a {
      background: #FFD42C; }
    .connexion-panel .buttonContainer p {
      transform: skewX(25deg); }
  .connexion-panel .supercoinman {
    position: absolute;
    top: 0;
    width: 500px; }

.stepIndicator {
  color: #272727;
  background: #fbfbfb; }
  .stepIndicator .row {
    margin-bottom: 0; }
  .stepIndicator h2 {
    color: #00B7DB;
    margin-top: 0;
    padding-top: 30px;
    font-family: 'bangers';
    font-size: 30px;
    text-align: center; }
  .stepIndicator h3 {
    font-family: 'bangers';
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
  .stepIndicator .stepNumber {
    width: 50px;
    height: 50px;
    font-family: 'bangers';
    font-size: 20px;
    color: #fbfbfb;
    margin: 0 auto;
    border-radius: 50%;
    background: #00B7DB;
    text-align: center;
    line-height: 48px; }
  .stepIndicator .stepDescription {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px; }

.exampleContainer {
  background: #fbfbfb; }
  .exampleContainer h2 {
    color: #272727;
    margin-top: 0;
    font-family: 'bangers';
    font-size: 30px;
    text-align: center;
    padding-top: 30px; }
    .exampleContainer h2 span {
      color: #00B7DB; }
  .exampleContainer .profilContainer {
    margin-top: 30px;
    position: relative;
    height: 250px;
    background: #F7F7F7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); }
    .exampleContainer .profilContainer .profilPicture {
      margin-top: 50px;
      margin-left: 10px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: #00B7DB; }
    .exampleContainer .profilContainer .infoContainer {
      position: absolute;
      left: 45%;
      top: 20px; }
      .exampleContainer .profilContainer .infoContainer .name {
        font-family: 'bangers';
        font-size: 20px; }
      .exampleContainer .profilContainer .infoContainer .description {
        margin-top: 10px; }
  .exampleContainer .buttonContainer {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    transform: skewX(-25deg); }
    .exampleContainer .buttonContainer .btn-large {
      line-height: 15px; }
    .exampleContainer .buttonContainer a {
      background: #FFD42C; }
    .exampleContainer .buttonContainer p {
      transform: skewX(25deg); }

.bannerContainer {
  background: #00B7DB; }
  .bannerContainer h2 {
    margin-top: 50px;
    font-family: 'bangers';
    font-size: 30px; }
    .bannerContainer h2 span {
      color: #00B7DB; }
  .bannerContainer .row {
    margin-bottom: 0; }
  .bannerContainer .banner1 {
    color: #F7F7F7; }
    .bannerContainer .banner1 .subtitle {
      margin-bottom: 50px; }
  .bannerContainer .banner2 {
    text-align: center; }
    .bannerContainer .banner2 .row {
      margin-bottom: 0; }
    .bannerContainer .banner2 .example {
      display: inline-block;
      background: #FFD42C;
      color: #272727;
      line-height: 40px;
      padding: 0px 10px;
      height: 40px;
      border-radius: 30px;
      margin-bottom: 50px;
      font-size: 16px; }

.bannerContainer.b2 {
  background: #F7F7F7; }

.whyContainer {
  background: #00B7DB; }
  .whyContainer .row {
    margin-bottom: 0; }
  .whyContainer h2 {
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;
    font-family: 'bangers';
    font-size: 30px; }
    .whyContainer h2 span {
      color: #FFD42C; }
  .whyContainer .card {
    background: #F7F7F7;
    color: #272727;
    margin-bottom: 30px; }

.commentContainer {
  background: #F7F7F7; }
  .commentContainer .row {
    margin-bottom: 0; }
  .commentContainer .title {
    text-align: center;
    margin-top: 0;
    padding-top: 40px;
    font-family: 'bangers';
    font-size: 30px; }
  .commentContainer p {
    padding-top: 60px; }
  .commentContainer .carousel {
    margin-bottom: 30px;
    height: 250px; }
    .commentContainer .carousel h2 {
      font-family: 'bangers';
      font-size: 20px;
      color: #FFD42C; }
    .commentContainer .carousel .carousel-item {
      margin-top: 50px; }
    .commentContainer .carousel .arrow {
      margin-top: 120px;
      z-index: 20; }
      .commentContainer .carousel .arrow i {
        background-color: #FFD42C;
        width: 40px;
        color: #F7F7F7; }
    .commentContainer .carousel .indicator-item {
      background-color: #272727; }
    .commentContainer .carousel .indicator-item.active {
      background-color: #FFD42C; }

.catContainer {
  background: #00B7DB;
  margin-bottom: 2px; }
  .catContainer h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
    font-family: 'bangers';
    font-size: 30px; }
  .catContainer .row {
    margin-bottom: 0; }
  .catContainer .buttonContainer {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    transform: skewX(-25deg); }
    .catContainer .buttonContainer .btn-large {
      line-height: 15px; }
    .catContainer .buttonContainer a {
      background: #FFD42C; }
    .catContainer .buttonContainer p {
      transform: skewX(25deg); }

@media screen and (max-width: 1000px) {
  .supercoinman {
    display: none; } }
nav.header_menu {
  background-color: #00B7DB; }
  nav.header_menu .container .nav-wrapper .brand-logo {
    font-size: 40px;
    font-family: 'bangers'; }
  nav.header_menu .container .nav-wrapper a {
    display: flex;
    flex-direction: row;
    align-items: center; }
    nav.header_menu .container .nav-wrapper a img {
      height: 50px;
      margin: 10px; }
  nav.header_menu .container .nav-wrapper .material-icons.right {
    margin-right: 7px; }
  nav.header_menu .container .nav-wrapper li {
    font-family: 'Lato', sans-serif;
    font-size: 15px; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

footer.page-footer {
  background-color: #00B7DB; }
  footer.page-footer .container {
    font-family: 'Lato', sans-serif;
    font-size: 15px; }
    footer.page-footer .container h5.white-text {
      font-family: 'bangers';
      font-size: 25px; }
  footer.page-footer .footer-copyright .container {
    text-align: center; }

.messages {
  text-align: center; }
  .messages .success {
    color: #35BBAD; }

div.informations {
  background: #00B7DB;
  padding: 20px 0; }
  div.informations .container.informations .row .col.s4.profile_photo .photo_container {
    overflow: hidden;
    background: #FBFBFB;
    width: 250px;
    height: 250px;
    border-radius: 100%; }
    div.informations .container.informations .row .col.s4.profile_photo .photo_container img {
      object-fit: cover;
      width: 250px;
      height: 250px; }
  div.informations .container.informations .row .col.s8 {
    font-family: 'lato', sans-serif;
    color: #FBFBFB; }
    div.informations .container.informations .row .col.s8 p.location {
      font-size: 15px;
      margin: 0; }
    div.informations .container.informations .row .col.s8 p.name {
      font-family: 'bangers';
      font-size: 40px;
      margin: -10px 0; }
    div.informations .container.informations .row .col.s8 p.age {
      font-size: 25px;
      margin: 10px 0; }
    div.informations .container.informations .row .col.s8 p.description {
      font-size: 25px;
      margin: 10px 0; }

.container.center-align.choice-contact {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  margin-top: -35px; }
  .container.center-align.choice-contact div.row div.col.s8.offset-s2 div.skills {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .container.center-align.choice-contact div.row div.col.s8.offset-s2 div.skills p.skill {
      background: #DFDFDF;
      border-radius: 30px;
      margin: 10px 5px;
      padding: 5px 15px;
      text-transform: capitalize; }
    .container.center-align.choice-contact div.row div.col.s8.offset-s2 div.skills p.skill:hover {
      background: #00B7DB;
      color: #FFFFFF;
      cursor: pointer; }
  .container.center-align.choice-contact div.row div.col.s8.offset-s2 div.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .container.center-align.choice-contact div.row div.col.s8.offset-s2 div.price p.amount {
      font-family: 'bangers';
      font-size: 35px;
      color: #00B7DB;
      margin: 0; }
    .container.center-align.choice-contact div.row div.col.s8.offset-s2 div.price img {
      width: 35px;
      height: 35px; }
  .container.center-align.choice-contact div.row div.col.s8.offset-s2 button.btn.waves-effect.waves-light {
    background: #FED42D;
    transform: skew(-25deg);
    padding: 0 30px; }

.container.center-align.stars p.stars {
  font-family: 'bangers';
  font-size: 45px;
  margin: 0 10px; }
.container.center-align.stars div.col.s10.offset-s1.card {
  font-family: 'lato', sans-serif; }
  .container.center-align.stars div.col.s10.offset-s1.card .row .col.s2.profile-picture {
    margin: 5px; }
    .container.center-align.stars div.col.s10.offset-s1.card .row .col.s2.profile-picture .photo_container {
      overflow: hidden;
      background: #FBFBFB;
      width: 95px;
      height: 95px;
      border-radius: 100%; }
      .container.center-align.stars div.col.s10.offset-s1.card .row .col.s2.profile-picture .photo_container img {
        object-fit: cover;
        width: 95px;
        height: 95px; }
  .container.center-align.stars div.col.s10.offset-s1.card .row .col.s3.note p.name {
    font-family: 'bangers';
    font-size: 25px;
    margin: 10px; }

.container.map .row p.title {
  font-family: 'bangers';
  font-size: 45px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.bangers {
  font-family: bangers; }

.container.title_edit_profil h1.center.bangers {
  font-size: 63px; }

.container .row .photo_edit .photo_container_edit {
  overflow: hidden;
  background: #FBFBFB;
  width: 250px;
  height: 250px;
  border-radius: 100%; }
  .container .row .photo_edit .photo_container_edit img {
    object-fit: cover;
    width: 250px;
    height: 250px; }
.container .row.form {
  display: inline-block; }
  .container .row.form .content_form .sub_title {
    font-size: 24px; }
  .container .row.form .input-field label {
    font-family: lato;
    font-size: 16px; }
  .container .row.form .input-field button.btn.btn_validate.waves-effect.waves-light {
    background: #FED42D;
    transform: skew(-25deg);
    padding: 0 30px;
    color: #272727;
    font-family: lato; }

label.checklabel {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 100px;
  color: #272727;
  background-color: #dfdfdf;
  cursor: pointer;
  font-family: lato;
  font-weight: bold; }

input.checkbox:checked + label {
  background-color: #00B7DB;
  color: #fbfbfb; }

label.checklabel:hover {
  box-shadow: 0 0 3px rgba(39, 39, 39, 0.15); }
