h1 {
  color: red; }

nav.header_menu .container .nav-wrapper a {
  display: flex;
  flex-direction: row;
  align-items: center; }
  nav.header_menu .container .nav-wrapper a img {
    height: 50px;
    margin: 10px; }
nav.header_menu .container .nav-wrapper .material-icons.right {
  margin-right: 7px; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

footer.page-footer .footer-copyright .container {
  text-align: center; }

.messages {
  text-align: center; }
  .messages .error {
    color: red; }
  .messages .success {
    color: green; }
