.checklabel{
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 100px;
  color: #272727;
  background-color: #dfdfdf;
  cursor: pointer;
  font-family: 'lato', sans-serif;
  font-weight: 500;
}

input.checkbox:checked + label{
  background-color: #00B7DB;
  color: #fbfbfb;
}

label.checklabel:hover{
  box-shadow: 0 0 3px rgba(39, 39, 39, .15);
}
