.container.faq {
    .faq_title_container {
        text-align: center;
        color: #00B7DB;
    }
    .faq_content {
        .faq_question {
            font-family: lato;
            font-weight: bold;
            font-size: 24px;
            margin-top: 50px;
        }
        .faq_responses {
            font-family: lato;
            font-size: 16px;
        }
    }
    
}