nav.header_menu {
  background-color: #00B7DB;
 .container {
    .nav-wrapper {
      .brand-logo {
        font-size: 40px;
        font-family: 'bangers';
      }
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          height: 50px;
          margin: 10px;
        }
      }
      .material-icons.right {
        margin-right: 7px;
      }
      li {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
      }
    }
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}