div.informations {
  background: #00B7DB;
  padding: 20px 0;
  .container.informations {
    .row {
      .col.s4.profile_photo {
        .photo_container {
          overflow: hidden;
          background: #FBFBFB;
          width: 250px;
          height: 250px;
          border-radius: 100%;
          img {
            object-fit: cover;
            width: 250px;
            height: 250px;
          }
        }
      }
      .col.s8 {
        font-family: 'lato', sans-serif;
        color: #FBFBFB;
        p.location {
          font-size: 15px;
          margin: 0;
        }
        p.name {
          font-family: 'bangers';
          font-size: 40px;
          margin: -10px 0;
        }
        p.age {
          font-size: 25px;
          margin: 10px 0;
        }
        p.description {
          font-size: 25px;
          margin: 10px 0;
        }
      }
    }
  }
}

.container.center-align.choice-contact {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  margin-top: -35px;
  div.row {
    div.col.s8.offset-s2 {
      div.skills {
        display: flex;
        flex-direction: row;
        justify-content: center;
        p.skill {
          background: #DFDFDF;
          border-radius: 30px;
          margin: 10px 5px;
          padding: 5px 15px;
          text-transform: capitalize;
        }
        p.skill:hover {
          background: #00B7DB;
          color: #FFFFFF;
          cursor: pointer;
        }
      }
      div.price {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p.amount {
          font-family: 'bangers';
          font-size: 35px;
          color: #00B7DB;
          margin: 0;
        }
        img {
          width: 35px;
          height: 35px;
        }
      }
      button.btn.waves-effect.waves-light {
        background: #FED42D;
        transform: skew(-25deg);
        padding: 0 30px;
      }
    }
  }
}
 
.container.center-align.stars {
  p.stars {
    font-family: 'bangers';
    font-size: 45px;
    margin: 0 10px;
  }
  div.col.s10.offset-s1.card {
    font-family: 'lato', sans-serif;
    .row {
      .col.s2.profile-picture {
        margin: 5px;
        .photo_container {
          overflow: hidden;
          background: #FBFBFB;
          width: 95px;
          height: 95px;
          border-radius: 100%;
          img {
            object-fit: cover;
            width: 95px;
            height: 95px;
          }
        }
      }
      .col.s3.note {
        p.name {
          font-family: 'bangers';
          font-size: 25px;
          margin: 10px;
        }
      }
    }
  }
}


.container.map {
  .row {
    p.title {
      font-family: 'bangers';
      font-size: 45px;
    }
  }
}